{% extends "base.html" %} 
{% block script %}
<script type="text/javascript" src="http://www.getbridge.com/js/bridge.js"> </script>

<script type="text/javascript">
    var bridge = new Bridge({apiKey:"43437a325d1bd02b"})

    var question = document.getElementById("question");
    var statusMessage = document.getElementById("status");

    var listener = {
        onStartQuestion:function() {
            question.innerHTML = "";
            statusMessage.innerHTML = "";
        },
        onNewWord : function(word) {
            question.innerHTML += " " + word;
        },
        onBuzz : function(user) {
            statusMessage.innerHTML = " buzzed in!";
        },
        onAnswer : function(user, answer) {
            statusMessage.innerHTML = user.username + " answered " + answer;
        },
        onQuestionTimeout : function() {
            statusMessage.innerHTML = "Time's up.";
        },
    }

    bridge.getService("match_22", function(match) {
        match.addPlayer(listener);
        match.startMatch();
    });

    bridge.connect();

    function buzz() {
        bridge.getService("match_22", function(match) {
            match.buzz();
            var answer = prompt("Answer: ");
            match.answer(answer);
        });
    }

</script>
{% endblock script %}

{% block body %}
<p id="status"> </p>
<p id="question"> </p>
<button id="buzzer" onClick="buzz()"> Buzz in </button>
{% endblock body %}
