{% extends "base.html" %}

{% block script %}
<script type="text/javascript" src="http://www.getbridge.com/js/bridge.js"> </script>

<script type="text/javascript">
    var bridge = new Bridge({apiKey:"60707403e0bf87e4"})

    var question = document.getElementById("question");
    var statusMessage = document.getElementById("status");

    var listener = {
        onStartQuestion:function() {
            question.innerHtml = "";
            statusMessage.innerHtml = "";
        },
        onNewWord : function(word) {
            console.log(question.innerHtml);
            question.innerHtml += " " + word;
        },
        onBuzz : function(user) {
            statusMessage.innerHtml = " buzzed in!";
        },
        onAnswer : function(user, answer) {
            statusMessage.innerHtml = user.username + " answered " + answer;
        },
        onQuestionTimeout : function() {
            statusMessage.innerHtml = "Time's up.";
        },
    }

    bridge.getService("match_22", function(match) {
        match.addPlayer(listener);
    });
    bridge.connect();

    function buzz() {
        bridge.getService("match_22", function(match) {
            match.buzz();
            var answer = prompt("Answer: ");

            match.answer(answer);
        });
    }

</script>
{% endblock script %}

{% block body %}
<p id="status"> </p>
<p id="question"> </p>
<button id="buzzer" onClick="buzz()"> Buzz in </button>
{% endblock body %}
